<div id="<%= dom_id ator %>">
  <p>
    <strong>Nome:</strong>
    <%= ator.nome %>
  </p>

  <p>
    <strong>Ano nascimento:</strong>
    <%= ator.ano_nascimento %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= ator.email %>
  </p>

</div>
