<p style="color: green"><%= notice %></p>

<div class="shadow-none p-3 mb-5 bg-light rounded">Ator</div>


<div id="ators">
  <% @ators.each do |ator| %>
    <%= render ator %>
    <p>
      <%= link_to "Show this ator", ator %>
    </p>
  <% end %>
</div>

<%= link_to "Novo Ator", new_ator_path %>
