<div class="shadow-none p-3 mb-5 bg-light rounded">Aprovar Comentário</div>

<%= render "form", critica: @critica %>

<br>

<div>
  <%= link_to "Mostrar este comentário", @critica %> |
  <%= link_to "Voltar aos comentários", criticas_path %>
</div>
