<p style="color: green"><%= notice %></p>

<div class="shadow-none p-3 mb-5 bg-light rounded">Críticas</div>


<div id="criticas">
  <% @criticas.each do |critica| %>
    <%= render critica %>
    <p>
      <%= link_to "Mostrar comentário", critica %>
    </p>
  <% end %>
</div>

<%= link_to "Novo comentário", new_critica_path %>
