<p style="color: green"><%= notice %></p>

<div class="shadow-none p-3 mb-5 bg-light rounded">Filmes</div>


<div id="filmes">
  <% @filmes.each do |filme| %>
    <%= render filme %>
    <p>
      <%= link_to "Descrição do filme", filme %>
    </p>
  <% end %>
</div>

<%= link_to "Adicionar novo filme", new_filme_path %>
